extends ../PublicViews/public
block admin
 .mws-panel.grid_8
  script(src="/jquery/dist/jquery.min.js").
  .mws-panel-header
    span
      i.icon-table
      |  商家食品列表
  .mws-panel-body.no-padding
    #DataTables_Table_1_wrapper.dataTables_wrapper(role='grid')
      #DataTables_Table_1_filter.dataTables_filter
      table#DataTables_Table_1.mws-datatable-fn.mws-table.dataTable(aria-describedby='DataTables_Table_1_info')
        thead
          tr(role='row')
            th.sorting_asc(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-sort='ascending' aria-label='Rendering engine: activate to sort column descending' style='width: 122px;') 序号
            th.sorting(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-label='Browser: activate to sort column ascending' style='width: 163px;') 食品名字  
            th.sorting(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-label='Browser: activate to sort column ascending' style='width: 163px;') 所属商家
            th.sorting(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-label='Platform(s): activate to sort column ascending' style='width: 149px;') 食品图片
            th.sorting(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-label='Platform(s): activate to sort column ascending' style='width: 149px;') 食品描述
            th.sorting(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-label='Platform(s): activate to sort column ascending' style='width: 149px;') 食品单价
            th.sorting(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-label='Engine version: activate to sort column ascending' style='width: 103px;') 操作
        tbody(role='alert' aria-live='polite' aria-relevant='all')
        -for(var i=0;i<data.length;i++)
          tr.odd
            td.sorting_1 #{data[i].gid}
            td.Firefox #{data[i].foodname}
            td.Firefox #{data[i].sname}
            td.Win 
                img(src="https://yuliner2.oss-cn-beijing.aliyuncs.com/#{data[i].foodpic}",alt="" width="100px" height="100px")
            td.Firefox #{data[i].descr}
            td.Firefox #{data[i].price}
            td 
              a(href="/adminfoodslistdel?gid=#{data[i].gid}" class="btn btn-success") 删除
              a(href="/adminfoodslistedit?gid=#{data[i].gid}" class="btn btn-danger") 修改
      #DataTables_Table_1_paginate.dataTables_paginate.paging_full_numbers
block title 
    | 后台商家食品列表